h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

h2 {
  font-size: 28px;
  font-style: italic;
  color: #f39c12;
}

p {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #555;
}

a {
  color: #007BFF;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

  